.header{
    header{
        display:  flex;
        justify-content: space-between;
        span{
            color: red;
        }
        
    }
    .container{
        display: flex;
        justify-content: space-between;
        height: 50px;
        line-height: 50px;
        background-color: #eee;
        box-sizing: border-box;
        padding: 0  5px;
    }
    
}