.list{
    .warp{
        .head{
            border-bottom: 3px solid #eee;
            width: 100%
        }
        .container{
            display: flex;
            justify-content: space-between;
            height: 150px;
            line-height: 150px;
            img{
                width: 100px;
                height: 100px;
                margin-right: 20px;
            }
            .attr{
                margin-left: 20px;
            }
            .handle{
                line-height: 15px;
                margin-top: 50px;
            }
            
        }
    }
}